@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html, body{
  font-family: 'Open Sans';
  height: 100%;
  margin: 0;
  padding: 0;
}

#result div canvas{
  margin: 0 auto;
  padding: 20px;
}

#count {
  bottom: 30px;
  font-weight: 700;
  position: fixed;
  text-align: center;
  width: 100%;
}
