<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vote!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h2>Vote for:</h2>
        <form id="choice" name='form' method="POST" action="/">
          {% for option in options %}
          <button id="a" type="submit" name="vote" class= "{{ option }}" value= "{{ option }}" >
          {{option}}
          </button>
          {% endfor %}
        </form>
        <div id="tip">
          (Tip: you can change your vote)
        </div>
        <div id="hostname">
          Processed by container ID {{hostname}}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {% if vote %}
    <script>
      var vote = "{{vote}}"
      $("."+vote).prop('disabled', true)
      $("."+vote).append(' <i class="fa fa-check-circle"></i>')
      $(".b").css('opacity','0.5')
      $(".c").css('opacity','0.5')


      var options = "{{options}}"
      if(vote == "a"){
        $(".a").prop('disabled', true);
        $(".a").append(' <i class="fa fa-check-circle"></i>');
        $(".b").css('opacity','0.5');
        $(".c").css('opacity','0.5');
      }
      if(vote == "b"){
        $(".b").prop('disabled', true);
        $(".b").append(' <i class="fa fa-check-circle"></i>');
        $(".a").css('opacity','0.5');
        $(".c").css('opacity','0.5');
      }
      if(vote == "c"){
        $(".c").prop('disabled', true);
        $(".c").append(' <i class="fa fa-check-circle"></i>');
        $(".a").css('opacity','0.5');
        $(".b").css('opacity','0.5');
      }
    </script>
    {% endif %}
  </body>
</html>
